:root {
    --marginBetweenSockets: 20px;
    --titleFontSize: 18px;
    --nodeBottomPadding: 10px;
    --metaTopMargin: 10px;
}

.node {
    position: absolute;
    overflow: visible;
    left: 200px;
    top: 200px;
    /* padding-bottom: var(--nodeBottomPadding); */

    background: #eee;
}

.title {
    margin: 0;
    padding: 8px 0;
    text-align: center;
    font-size: var(--titleFontSize);

    background: #666;
}

.inputBox {
    display: inline-block;
    margin-right: var(--marginBetweenSockets);
}

.outputBox {
    float: right;
}

.metaBox {
    clear: both;
    padding-top: var(--metaTopMargin);
    text-align: center;
}
