:root {
    --circleSize: 14px;
    --circleInputMargin: calc(-var(--circleSize) / 2);
    --circleOutputMargin: calc(var(--circleSize) / 2);
    --socketVerticallPadding: 2px;
    --metaSocketPadding: 0 6px;
}

.socket {}

.socketMeta {
    display: inline-block;
    position: relative;
    padding: var(--metaSocketPadding);
}

.socketInput, .socketOutput {
    padding: var(--socketVerticallPadding) 0;
}

.socketInput {
    margin-left: var(--circleInputMargin);
}

.socketOutput {
    transform: translateX(var(--circleOutputMargin));
}

/* CIRCLE */

.socketCircle {
    display: inline-block;
    width: var(--circleSize);
    height: var(--circleSize);
    vertical-align: middle;

    border-radius: var(--circleSize);
    background: blue;
}

.socketCircleInput {
    margin-right: calc(var(--circleSize) / 5);
}
.socketCircleOutput {
    margin-left: calc(var(--circleSize) / 5);
}

.socketCircleMeta {
    position: absolute;
    transform: translate(-50%, 100%);
    left: 50%;
    top: 0;
}
